<h1>Hello <%=current_email %></h1>


<ul> 
    <li><a href="/fat/authorize">Authorize with the fat controller</a></li>
    <li><a href="/service/authorize">Authorize with service style</a></li>
    <li><a href="/model/authorize">Authorize with model style</a></li>

</ul>


<a href="/hello/signout">Sign Out</a>
